body {
  background-image: radial-gradient(black,grey);
  text-align: center;                    
}
h1{
  color: azure;
}
.img{
  background-repeat: no-repeat;
  background-image: "images.jpeg";
  width: 150%;
  text-align:center;
  height: auto;
  
}
main {
  text-align: center;
}
.item {
  width: 100%;
  letter-spacing: 6px;
  text-align: center; 
  background-image: radial-gradient(lightblue,grey);
  border: 5px solid black;
  box-sizing: border-box;
  height: 200px;
}
.item1{
width: 100%;
letter-spacing: 6px;
text-align: center;
background-image: radial-gradient(lightblue,grey);
border: 5px solid black;
box-sizing: border-box;
height: 200px;
}
.item2 {  
  width: 100%;
  letter-spacing: 6px;
  text-align: center; 
  background-image: radial-gradient(lightblue,grey);
  border: 5px solid black;
  box-sizing: border-box;
  height: 300px;
  letter-spacing: 2px;
}
  footer
{
    text-align: center;
    font-family: 'Vollkorn', serif;
    letter-spacing: 4px;
    color: dark grey;
    height: 5px;
    bottom:auto;
    display:inline-block;
    padding:10px 400px;
}
